body{
    background-color: lightskyblue;
    color: black;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding-right: 10%;
    padding-left: 10%;
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "header" "content";
}

header{
    grid-area: header;
    justify-self: center;
}

main{
    grid-area: content;
    padding: 0 5%;
    text-align: center;
    background-color: white;
}

.radio{
    display: block;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.input-row{
    margin: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label" "input";
    grid-row-gap: 15px;
    grid-column-gap: 20px;
}

.input-row > label{
    grid-area:label;
    grid-column: 1/2;
    grid-row: 1/1;
    justify-self: end;
    text-align: end;
}
.input-row > .input{
    grid-area: input;  
    grid-column: 2/3; 
    grid-row: 1/1; 
    justify-self: start;
    max-width: 400px;
}

@media only screen and (max-width: 600px){
    .input-row{
        grid-row-gap:0px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "label" "input";
    }

    .input-row >label{
        justify-self: start;
        grid-column: 1/1;
        grid-row: 1/2;
        text-align: start;
    }

    .input-row > .input{
        justify-self: start;
        grid-column: 1/1;
        grid-row: 2/3;
        width: 100%;
    }

}


